<section class="card checkins">
  <form name="myform" autocomplete="off" ng-submit="addCheckins()" novalidate>

    <div class="textintro">
      <h1>Check in</h1>
      <p>Fill out this form to check in to this meeting</p>
      <p class="message" ng-show="message">{{ message }}</p>
    </div>

    <fieldset>
      <input type="text" name="firstName" placeholder="First Name"
      ng-model="user.firstName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.firstName.$invalid && myform.firstName.$touched">
      First name required</p>

      <input type="text" name="lastName" placeholder="Last Name"
      ng-model="user.lastName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.lastName.$invalid && myform.lastName.$touched">
      Last name required</p>

      <input type="email" name="email" placeholder="Email"
      ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>

    </fieldset>

    <button type="submit" class="btn"
    ng-disabled="myform.$invalid">Check in</button>

  </form>
</section>
